.cart {
  min-height: 100vh;
  &__title-wrapper {
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
  }
  &__title {
    font-size: 36px;
    font-weight: 700;
    margin-right: 10px;
  }
  &__products-count {
    color: #999;
    font-size: 16px;
    line-height: 27px;
  }
}
